logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.target
module/.target
module/.settings
module/project/project
module/project/target
module/target
module/.classpath
module/.project