@chatmain(null) {

    @if(flash.containsKey("error")) {

    <div class="alert-message error">
        <p>
            <strong>Oops!</strong> @flash.get("error")
        </p>
    </div>

    }

    <div class="alert-message block-message info">
        <p>
            <strong>This is the <em>modified</em> Play Websocket sample application with SignalJ!</strong>
            To start, choose a username and sign in using the top right form.<br>
            <strong>Note:</strong> the JS is in chat.scala.html in the views folder.
        </p>
    </div>

}