@(message: String)

@main("Welcome to SignalJ") {
        <h1>SignalJ</h1>
    <h2>Overview</h2>
    <p>A port of <a href="http://asp.net/signalr">SignalR</a> to the PlayFramework using Actors.</p>
    <p>SignalJ (SignalR) is a server to client and client to server communication framework. Communication
        to browsers using a fallback mechanism. First trying websockets, then server sent events and finally long polling.
        Several other clients exist such as for iOs, Android, and .net.</p>

    <h2>Examples</h2>
    <p>There is a a Typesafe Activator tutorial showing how to built a chat server: xxxxxxxxx</p>

    <p>If you are running SignalJ sample from github on your localhost you can check out the test page:</p>
        <ul>
            <li><a href="http://localhost:9000/test">Test page of various SignalJ functions</a></li>
        </ul><h2>Setup Instructions</h2><p>Add the following to your build.sbt:</p>
        <pre><code>
resolvers += "release repository" at "http://chanan.github.io/maven-repo/releases/"

resolvers += "snapshot repository" at "http://chanan.github.io/maven-repo/snapshots/"
        </code></pre><p>Add to your libraryDependencies:</p>
        <pre><code>"signalJ" %% "signalj" % "0.5.0"
        </code></pre>
    <h2>Instructions</h2>
    <p>Documentation can be found on the <a href="http://signalj.io/">SignalJ website</a></p>
}