<script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
<!--
Do not use for now till fix asset loading problem in plugins
<script src="/signalj/jquery.signalR.js"></script>
-->
<script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.1.0.js"></script>
<script src="/signalj/hubs.js"></script>
<h1>SignalJ Test Page</h1>
<button id="btnHello">Say Hello on the server!</button>
<br>
<button id="btnHello2">Say Hello twice</button>
<br>
<button id="btnAdd">Add 1 + 2</button>
<br>
Result: <span id="result"></span>
<br>
Message will be pushed from server 2 + 3 = <span id="push"></span><br>
Person full name (Press first button): <span id="fullname"></span><br>
<button id="joinGroup">Join "test" group</button> <button id="leaveGroup">Leave "test" group</button><br>
<button id="talkToGroup">Say hello to group</button> <button id="talkToGroupOtherThanMe">Say hello to group other than me</button><br>
<button id="sendListOfInt">Send List of Int</button>
<script type="text/javascript">
    $(function () {
        $.connection.hub.logging = true;
        var hub = $.connection.test;

        hub.state.prop = "test";
        hub.state.prop2 = "another test";

        hub.client.firstTestFunction = function() {
            console.log("Called from server!");
            //Check modified state
            console.log("State: %O", hub.state);
        };

        hub.client.firstTestFunctionWithParam = function(param) {
            console.log("Called from server with param: " + param);
        };

        hub.client.twoParams = function(int1, int2) {
            console.log(int1 + int2);
            $('#push').html(int1 + int2);
        };

        hub.client.complexObj = function(person) {
            console.log("Person: %O", person);
            $('#fullname').html(person.firstName + " " + person.lastName);
        };

        hub.client.calledFromClient = function(connectionId) {
            console.log("This was called directly to this connection: " + connectionId)
        };

        hub.client.notCalledFromClient = function(connectionId) {
            console.log("This was NOT sent to: " + connectionId)
        };

        hub.client.sendToGroup = function(message) {
            console.log("This was sent to the group: " + message);
        };

        hub.client.thisWillBeCalledFromOutsideTheHub = function(message) {
            console.log("This was sent from out side the hub to all clients: " + message);
        };

        hub.client.complexList = function(people) {
            console.log("People: %O", people);
            hub.server.listOfPerson(people);
        };

        $.connection.hub.start().done(function () {
            console.log("Connection Id: " + $.connection.hub.id);

            $('#btnHello').click(function() {
                hub.server.sayHello();

                hub.server.causeError( ).fail(function(error) {
                    console.log('Error: ' + error);
                });
            });

            $('#btnHello2').click(function() {
                hub.server.saySomethingANumberOfTimes("hello", 2);
            });

            $('#btnAdd').click(function() {
                hub.server.add(1, 2).done(function(result) {
                    $('#result').html(result);
                });
            });

            $('#joinGroup').click(function() {
                hub.server.joinGroup('test');
            });

            $('#leaveGroup').click(function() {
                hub.server.leaveGroup($.connection.hub.id, 'test');
            });

            $('#talkToGroup').click(function() {
                hub.server.talkToGroup('test', 'Hi to everyone in group!');
            });

            $('#talkToGroupOtherThanMe').click(function() {
                hub.server.talkToGroupOtherThanMe('test', 'Hi to others in group!');
            });

            $('#sendListOfInt').click(function() {
                var arr = new Array();
                arr[0] = 1;
                arr[1] = 2;
                arr[2] = 3;
                hub.server.listOfInt(arr);
            });
        });
    });
</script>
