<script type="text/javascript" src="/assets/javascripts/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="/js/hubs.js"></script>
<h1>Here!</h1>
<button id="btnHello">Say Hello on the server!</button>
<br>
<button id="btnHello2">Say Hello twice</button>
<br>
<button id="btnAdd">Add 1 + 2</button>
<br>
Result: <span id="result"></span>
<br>
<button id="btnDescribe">Log to console Describe</button><br>
Message will be pushed from server 2 + 3 = <span id="push"></span><br>
Person full name (Press first button): <span id="fullname"></span><br>
<button id="joinGroup">Join "test" group</button> <button id="leaveGroup">Leave "test" group</button><br>
<button id="talkToGroup">Say hello to group</button> <button id="talkToGroupOtherThanMe">Say hello to group other than me</button>
<script type="text/javascript">
$(function() {
	$('#btnHello').click(function() {
		helloWorld_sayHello();
	});
	$('#btnHello2').click(function() {
		helloWorld_saySomethingANumberOfTimes("hello", 2);
	});
	$('#btnAdd').click(function() {
		helloWorld_add(1, 2, function(data) {
			$('#result').html(data);
		});
	});
	$('#btnDescribe').click(function() {
		hubs_describe(function(data) {
			console.log("Describe: %O", data);
		});
	});
	$('#joinGroup').click(function() {
		helloWorld_joinGroup("test");
	});
	$('#leaveGroup').click(function() {
		helloWorld_leaveGroup("test");
	});
	$('#talkToGroup').click(function() {
		helloWorld_talkToGroup("test", "Hi!");
	});
	$('#talkToGroupOtherThanMe').click(function() {
		helloWorld_talkToGroupOtherThanMe("test", "Hi!");
	});
});

function firstTestFucntion() {
	console.log("Called from server!");
}

function firstTestFunctionWithParam(param) {
	console.log("Called from server with param: " + param);
}

function twoParams(int1, int2) {
	console.log(int1 + int2);
	$('#push').html(int1 + int2);
}

function complexObj(person) {
	console.log("Person: %O", person);
	$('#fullname').html(person.firstName + " " + person.lastName);
}
function calledFromClient(connectionId) {
	console.log("This was called directly to this connection: " + connectionId)
}
function notCalledFromClient(connectionId) {
	console.log("This was NOT sent to: " + connectionId)
}
function sendToGroup(message) {
	console.log("This was sent to the group: " + message);
}
function thisWillBeCalledFromOutsideTheHub(message) {
	console.log("This was sent from out side the hub to all clients: " + message);
}
</script>